<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>-10</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>servlet.ActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BiomassRubbishProjectServlet</servlet-name>
        <servlet-class>servlet.BiomassRubbishProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BiomassRubbishProjectServlet</servlet-name>
        <url-pattern>/BiomassRubbishProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>servlet.CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyTechnologyAchievementServlet</servlet-name>
        <servlet-class>servlet.CompanyTechnologyAchievementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyTechnologyAchievementServlet</servlet-name>
        <url-pattern>/CompanyTechnologyAchievementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractTechnologyProtocolServlet</servlet-name>
        <servlet-class>servlet.ContractTechnologyProtocolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractTechnologyProtocolServlet</servlet-name>
        <url-pattern>/ContractTechnologyProtocolServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataMaintenanceServlet</servlet-name>
        <servlet-class>servlet.DataMaintenanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataMaintenanceServlet</servlet-name>
        <url-pattern>/DataMaintenanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeviceVenderMaterialServlet</servlet-name>
        <servlet-class>servlet.DeviceVenderMaterialServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeviceVenderMaterialServlet</servlet-name>
        <url-pattern>/DeviceVenderMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EngineeringSummaryServlet</servlet-name>
        <servlet-class>servlet.EngineeringSummaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EngineeringSummaryServlet</servlet-name>
        <url-pattern>/EngineeringSummaryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileDiskServlet</servlet-name>
        <servlet-class>servlet.FileDiskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDiskServlet</servlet-name>
        <url-pattern>/FileDiskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FiledMaintenanceServlet</servlet-name>
        <servlet-class>servlet.FiledMaintenanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FiledMaintenanceServlet</servlet-name>
        <url-pattern>/FiledMaintenanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FuelCoalProjectServlet</servlet-name>
        <servlet-class>servlet.FuelCoalProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuelCoalProjectServlet</servlet-name>
        <url-pattern>/FuelCoalProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FuelMachineProjectServlet</servlet-name>
        <servlet-class>servlet.FuelMachineProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuelMachineProjectServlet</servlet-name>
        <url-pattern>/FuelMachineProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeBroadStandardServlet</servlet-name>
        <servlet-class>servlet.HomeBroadStandardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeBroadStandardServlet</servlet-name>
        <url-pattern>/HomeBroadStandardServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>servlet.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>servlet.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OtherServlet</servlet-name>
        <servlet-class>servlet.OtherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OtherServlet</servlet-name>
        <url-pattern>/OtherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PhotovoltaicGenerationProjectServlet</servlet-name>
        <servlet-class>servlet.PhotovoltaicGenerationProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhotovoltaicGenerationProjectServlet</servlet-name>
        <url-pattern>/PhotovoltaicGenerationProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PowerDeliverProjectServlet</servlet-name>
        <servlet-class>servlet.PowerDeliverProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PowerDeliverProjectServlet</servlet-name>
        <url-pattern>/PowerDeliverProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PowerTransferEngineeringProjectServlet</servlet-name>
        <servlet-class>servlet.PowerTransferEngineeringProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PowerTransferEngineeringProjectServlet</servlet-name>
        <url-pattern>/PowerTransferEngineeringProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PreEngineeringDataServlet</servlet-name>
        <servlet-class>servlet.PreEngineeringDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreEngineeringDataServlet</servlet-name>
        <url-pattern>/PreEngineeringDataServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProjectExpertServlet</servlet-name>
        <servlet-class>servlet.ProjectExpertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectExpertServlet</servlet-name>
        <url-pattern>/ProjectExpertServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TechnologyEssayServlet</servlet-name>
        <servlet-class>servlet.TechnologyEssayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TechnologyEssayServlet</servlet-name>
        <url-pattern>/TechnologyEssayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TechnologyServlet</servlet-name>
        <servlet-class>servlet.TechnologyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TechnologyServlet</servlet-name>
        <url-pattern>/TechnologyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CoalMaterialServlet</servlet-name>
    <servlet-class>servlet.CoalMaterialServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>tetzs</servlet-name>
    <servlet-class>servlet.tetzs</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AjaxFileServlet</servlet-name>
    <servlet-class>servlet.AjaxFileServlet</servlet-class>
  </servlet>



    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CoalMaterialServlet</servlet-name>
    <url-pattern>/CoalMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tetzs</servlet-name>
    <url-pattern>/tetzs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxFileServlet</servlet-name>
    <url-pattern>/servlet/AjaxFileServlet</url-pattern>
  </servlet-mapping>

</web-app>